---
title: Search
slug: search
categories: molecule
---

{{#markdown}}
This is a search form.
{{/markdown}}

<div class="ksdg-Example">
  <h2 class="ksdg-Example-label">Example</h2>
  <div class="ksdg-Example-render">
{{> search}}
  </div>

  <h2 class="ksdg-Example-label">HTML</h2>
{{#markdown}}
```html
{{> search}}
```
{{/markdown}}

  <h2 class="ksdg-Example-label">CSS</h2>
{{#markdown}}
```scss
{{> _search}}
```
{{/markdown}}
</div>
