<p>
  <button class="ks-Button ks-Button--default ks-Button--small">Default</button>
  <button class="ks-Button ks-Button--primary ks-Button--small">Primary</button>
  <button class="ks-Button ks-Button--success ks-Button--small">Success</button>
  <button class="ks-Button ks-Button--info ks-Button--small">Info</button>
  <button class="ks-Button ks-Button--warning ks-Button--small">Warning</button>
  <button class="ks-Button ks-Button--danger ks-Button--small">Danger</button>
</p>
<p>
  <button class="ks-Button ks-Button--default">Default</button>
  <button class="ks-Button ks-Button--primary">Primary</button>
  <button class="ks-Button ks-Button--success">Success</button>
  <button class="ks-Button ks-Button--info">Info</button>
  <button class="ks-Button ks-Button--warning">Warning</button>
  <button class="ks-Button ks-Button--danger">Danger</button>
</p>
<p>
  <button class="ks-Button ks-Button--default ks-Button--large">Default</button>
  <button class="ks-Button ks-Button--primary ks-Button--large">Primary</button>
  <button class="ks-Button ks-Button--success ks-Button--large">Success</button>
  <button class="ks-Button ks-Button--info ks-Button--large">Info</button>
  <button class="ks-Button ks-Button--warning ks-Button--large">Warning</button>
  <button class="ks-Button ks-Button--danger ks-Button--large">Danger</button>
</p>
