<form>
  <fieldset class="ks-Fieldset">
    <legend class="ks-Fieldset-legend">Student registration options</legend>
    <label class="ks-Fieldset-field ks-Checkbox">
      <input class="ks-Checkbox-input" type="checkbox"/>
      <span class="ks-Checkbox-label" data-label="Pass/Fail">Pass/Fail</span>
    </label>
    <label class="ks-Fieldset-field ks-Checkbox">
      <input class="ks-Checkbox-input" type="checkbox"/>
      <span class="ks-Checkbox-label" data-label="Audit">Audit</span>
    </label>
  </fieldset>
  <fieldset class="ks-Fieldset">
    <legend class="ks-Fieldset-legend">Waitlists</legend>
    <label class="ks-Fieldset-field ks-Checkbox">
      <input class="ks-Checkbox-input" type="checkbox"/>
      <span class="ks-Checkbox-label" data-label="This course offering has a waitlist.">This course offering has a waitlist.</span>
    </label>
  </fieldset>
</form>
