---
title: Heading
slug: heading
categories: atom
---

{{#markdown}}
I say something special about this.
{{/markdown}}

<div class="ksdg-Example">
  <h2 class="ksdg-Example-label">Example</h2>
  <div class="ksdg-Example-render">
{{> heading.pattern}}
  </div>

  <h2 class="ksdg-Example-label">HTML</h2>
{{#markdown}}
```html
{{> heading.pattern}}
```
{{/markdown}}

  <h2 class="ksdg-Example-label">CSS</h2>
{{#markdown}}
```scss
{{> heading.style}}
```
{{/markdown}}
</div>
