---
title: Link
slug: link
categories: atom
description: A clickable text label that navigates to new content.
---

{{#markdown}}

## Behavior

{{/markdown}}

<figure class="ksdg-Figure">
  <a class="ksdg-Figure-link" href="https://cloud.githubusercontent.com/assets/347558/4032326/1281e0fa-2c6f-11e4-8a95-b48b71e719de.png">
    <img class="ksdg-Figure-img" src="https://cloud.githubusercontent.com/assets/347558/4032326/1281e0fa-2c6f-11e4-8a95-b48b71e719de.png" alt="Link example"/>
  </a>
  <figcaption class="ksdg-Figure-caption">

{{#markdown}}
1. Hyperlinks are clickable text labels that navigate to new content.
1. On hover, links are depicted with a solid underline to indicate the expected
behavior is navigational and will not perform an action that affects data.
1. When clicked, a Hyperlink takes the user to a new web page,
or to a different part of the same page (e.g., an anchor).
{{/markdown}}

  </figcaption>
</figure>

{{#markdown}}

## Use cases

- To provide the user with a means of leaving the current context.
- With long pages that have clear ways of sectioning the content.
- As a companion to a Primary Button to return the previous context.

## Limitations

- For actions requiring submission or manipulation of data,
consider using <a href="button.html">buttons</a>.

## Examples

- [Enrollment](http://ux.ks.kuali.org.s3.amazonaws.com/wireframes/R2.0/Course%20Offering/create/create_from_catalog/current_version/index.html?Page=01_ENR_Home):
See links menu.
- [Term Search](http://ux.ks.kuali.org.s3.amazonaws.com/wireframes/R2.0/Course%20Offering/create/create_from_catalog/current_version/index.html?Page=02_Term_Search):
See cancel link.
- [Create Course Offering from Catalog](http://ux.ks.kuali.org.s3.amazonaws.com/wireframes/R2.0/Course%20Offering/create/create_from_catalog/current_version/index.html?Page=05_CourseOfferings01):
See links to Search for Other Terms, Add New Course to Schedule, Edit, and Delete.
- [Manage Registration Groups](http://ux.ks.kuali.org.s3.amazonaws.com/wireframes/ENR/Constrained_reg_groups/v4/start.html?Page=04c_RemoveAO):
See links above activity offerings clusters.
- [artlebedev](http://www.artlebedev.ru/everything/borispol/):
See links below the first image.
- [Bolshoi](http://www.bolshoi.ru/en/performances/14/roles/#20120603190000):
See navigation links near the top of the page (e.g. Main).

## Resources
- [Discussion sandbox](https://docs.google.com/a/kuali.org/document/d/1UjgOKumADpAmNID31pBITLNYR6ArvhqoYsnzINdl_fI/edit)
{{/markdown}}
