<nav class="ks-Pagination">
  <a href class="ks-Pagination-item">First</a>
  <a href class="ks-Pagination-item">Previous</a>
  <a href class="ks-Pagination-item ks-Pagination-item--active">1</a>
  <a href class="ks-Pagination-item">2</a>
  <a href class="ks-Pagination-item">3</a>
  <a href class="ks-Pagination-item">4</a>
  <a href class="ks-Pagination-item">5</a>
  <a href class="ks-Pagination-item">Next</a>
  <a href class="ks-Pagination-item">Last</a>
</nav>
