.ksdg-Patterns {

  &-title {
  }

  &-list {
  }

  &-item {
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;

    &:hover,
    &--active {
      background-color: @color-Active;
    }
  }
}
