<h1 class="ks-Heading ks-Heading--xl">Heading Level 1</h1>
<h2 class="ks-Heading ks-Heading--l">Heading Level 2</h2>
<h3 class="ks-Heading ks-Heading--m">Heading Level 3</h3>
<h4 class="ks-Heading ks-Heading--s">Heading Level 4</h4>
