<header class="ksdg-Header">
  <a href="/" class="ksdg-Header-title">Kuali Student Design Guide</a>
</header>

<nav>
{{#each categories}}
  <h1>{{titleize category}}</h1>
  <ul>
    {{#each pages}}
    <li><a href="{{relative ../../page.dest dest}}">{{data.title}}</a></li>
    {{/each}}
  </ul>
{{/each}}
</nav>
