<header class="ksdg-Header">
  <a href="/" class="ksdg-Header-title">Kuali Student Design Guide</a>
</header>

<nav class="ksdg-Nav">
{{#each categories}}
  <h1 class="ksdg-Nav-title">{{titleize category}}</h1>
  <div class="ksdg-Nav-list">
    {{#each pages}}
    <a class="ksdg-NavList-item" href="{{relative ../../page.dest dest}}">{{data.title}}</a>
    {{/each}}
  </div>
{{/each}}
</nav>
