.ksdg-Page {

  &-header {
  }

  &-body {
    display: flex;
    margin-top: 2em;
  }

  &-nav {
    min-width: 10em;
  }

  &-main {
    flex: 1;
    margin: 0 2em;

    // Aim for 90 characters per line.
    // http://practicaltypography.com/line-length.html
    > p, > ul {
      max-width: 40em;
    }
  }

  &-title {
    font-weight: bold;
    margin-top: 0;
  }
}
